body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Fondo de la página */
.background-collage {
    background-image: url('imagenes/collage.png');
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Contenedor central para el contenido */
.content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Encabezado */
#header {
    text-align: center;
    display: block;
    padding: 15px 30px;
    margin: 1px;
    background-color: #5d9df1;
    color: rgb(255, 210, 114);
    text-decoration: none;
    border-radius: 16px;
    font-size: 1.2em;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#header h1 {
    font-size: 3em;
    margin: 0;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

#header p {
    font-size: 1.2em;
    margin-top: 10px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

/* Contenedor de los botones */
#buttons-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.button {
    display: block;
    padding: 15px 30px;
    margin: 10px;
    background-color: #6696f0;
    color: rgb(247, 0, 255);
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.button:hover {
    background-color: #a371f3;
}

/* Campo de entrada y botón para filtrar */
.filter {
    margin-top: 20px;
}

.filter input {
    padding: 10px;
    font-size: 1em;
    width: 200px;
    border: 1px solid #8c00ff;
    border-radius: 8px;
    margin-right: 10px;
}

.filter button {
    padding: 10px 20px;
    background-color: #8981f7;
    color: rgb(247, 0, 247);
    text-decoration: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
}

.filter button:hover {
    background-color: #a371f3;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    #header h1 {
        font-size: 2em;
    }

    #header p {
        font-size: 1em;
    }

    .button {
        font-size: 1em;
        padding: 10px 20px;
    }

    .filter input, .filter button {
        width: 100%;
        margin-top: 10px;
    }

    #buttons-container {
        width: 90%;
        top: 60%;
    }
}
